body {
  background-color: #dadada;
}

#logo {
  display: flex;
  justify-content: center;
  width: 6vh;
}
.info {
  display: flex;
  flex-wrap: wrap;
}

.name {
  display: flex;
  flex-wrap: wrap;
}

.team {
  background-color: bisque;
  padding: 20px;
  margin: 20px;
}
